#text{
	width: 500px;
	margin-top: 50px;
	margin-left: 100px;
	text-align: center;	
	border: 1px solid;
}

p{
	font-size: 20px;
	font-family: monospace, sans-serif, fantasy;
	font-weight: bold;
	line-height: 10px;
}

h1{
	font-size: 30px;
	font-family: monospace, sans-serif, fantasy;
    font-weight: bold;
}

#game{
	border: 1px solid;
	
}

#ball{
	width: 100px;
	height: 100px;
	border-radius: 99em;
	background-color: black;
}

