#text{
	
	width: 600px;
	margin-top: 50px;
	text-align: center;	
	float:left;
}

p{
	font-size: 20px;
	font-family: monospace, sans-serif, fantasy;
	font-weight: bold;
	line-height: 10px;
}

h1{
	font-size: 30px;
	font-family: monospace, sans-serif, fantasy;
    font-weight: bold;
}

#game{
	float: left;
	width: 600px;
	height: 500px;
}
	

div.ball{
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 99em;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation:bounceBall 2s linear infinite alternate;
	
}
@-webkit-keyframes bounceBall{
    from {bottom:0%;}
    to {bottom:-80%;}
}